.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
}
.output{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.form-container{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    background-color: #ffe7be;
    
}