*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #6172d0;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: white;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}
.container .signup{
  display: none;
}
#check:checked ~ .signup{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 32px;
}
.form header{
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6px;
}
.form h3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 18px;
   border: 1px solid gray;
   border-radius: 6px;
   outline: none;
}
.form input.button{
  color:white;
  background: #6172d0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.4s;
}
.change{
  font-size: 17px;
  text-align: center;
}
.change label{
  color: #2a03b4;
  cursor: pointer;
}
.change label:hover{
  text-decoration: underline;
}
