html,body {
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.8em;
}
#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('https://i.gifer.com/7YQl.gif')
	 no-repeat center center;
      z-index: 99999;
}
.img2 {
    background-image: url(images/sea1.jpg);
    min-height: 100%;
}

.img3 {
    background-image: url(images/sea2.jpg);
    min-height: 650px;
}

.img4 {
    background-image: url(images/sea3.jpg);
    min-height: 650px;
}

.img2,
.img3,
.img4 {
    position: relative;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: rgb(67, 76, 85);
    letter-spacing: 8px;
}

.textbg {
    /* background-color: rgba(102, 169, 216, 0.703); */
    background-color:#51cbc19c;
    padding: 10px;
    color: rgb(8, 18, 74);
    border: 6px solid rgba(205, 203, 203, 0.651);
    border-radius: 12px;
    
}

.description {
    padding: 50px 80px;
    text-align: center;
}

.light {
    background-color: rgba(100, 148, 237, 0.459);
    color: #282e34d8;
}

.dark {
    background-color: #282e34;
    color: #ddd;
}

h2 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 16px;
}