@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    background-color: rgb(223, 171, 249);
    padding: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.search-box input{
    width: 70%;
    height: 50px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: rgb(175, 171, 177)  3px 3px 3px;
}

.search-box button{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(109, 50, 165);
    color: wheat;
    height: 50px;
    width: 15%;
    cursor: pointer;
}

.search-box button:hover{
    background-color: rgb(62, 22, 99);
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#input{
   color: purple; 
}
#example{
    padding-left: 20px;
    border-left: 5px solid purple;
    font-style: italic;
}