@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
    /* color:white; */
}
body{
    min-height:100vh;
    width:100%;
    background:#eeeceb;
}
footer{
    position:fixed;
    background:#004953;
    width:100%;
    bottom:0;
    left:0;
}
footer::before{
    content: '';
    position:absolute;
    height: 1px;
    width:100%;
    background:#afafb6;
    left:0;
    top:100px;
}
footer .container{
    /* background:rgb(165, 0, 36); */
    max-width:1250px;
    margin:auto;
    padding:30px 40px 40px 40px;
}
footer .container .footer_upper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.container .footer_upper .logo{
    color:white;
    font-size: 30px;
}
.container .footer_upper .icons{
    display:flex;
}
.container .footer_upper .icons a{
    height:40px;
    width:40px;
    background:red;
    margin:0 8px;
    border-radius:50%;
    line-height:40px;
    text-align:center;
    font-size:17px;
    text-decoration:none;
    color:white;
}
.footer_upper .icons a:nth-child(1){
    background: #426782;
}
.footer_upper .icons a:nth-child(1):hover{
    color: #426782;
    background: #fff;
}
.footer_upper .icons a:nth-child(2){
    background: #1da1f2;
}
.footer_upper .icons a:nth-child(2):hover{
    color: #1da1F2;
    background: #fff;
}    
.footer_upper .icons a:nth-child(3){
    background: #e1306c;
}
.footer_upper .icons a:nth-child(3):hover{
    color: #e1306c;
    background: #fff;
}
.footer_upper .icons a:nth-child(4){
    background: #0077b5;
}
.footer_upper .icons a:nth-child(4):hover{
    color: #0077b5;
    background: #fff;
}
.footer_upper .icons a:nth-child(5){
    background: #ff0000;
}
.footer_upper .icons a:nth-child(5):hover{
    color: #ff0000;
    background: #fff;
}
.footer_middle .content{
    width:100%;
    display:flex;
    justify-content: space-between;
}
 .footer_middle .content .link_box{
    /* background:red; */
    width:calc(100% / 5 - 10px)
}
.content .link_box .heading{
    color:white;
    font-size:18px;
    font-weight:400;
    margin-bottom:10px;
    position:relative;
}
.content .link_box .heading::before{
    content:'';
    position: absolute;
    height: 2px;
    width:35px;
    background:white;
    left:0;
    bottom:-2px;
}
.footer_middle .content .link_box li{
    margin: 6px 0;
    list-style:none;
}
.footer_middle .content .link_box li a{
    color:white;
    font-size:14px;
    font-weight: 400;
    opacity:0.8;
    text-decoration:none;
    transition: all 0.5s ease-in;
}
.footer_middle .content .link_box li a:hover{
    opacity:1;
    text-decoration: underline;
}
.content .link_box .input_box{
    margin-right:55px;
}
.input_box input{
    height:40px;
    width:calc(100% + 55px);
    outline:none;
    border:2px solid #afafb6;
    background:#004953;
    border-radius: 4px;
    padding:0 15px;
    font-size:16px;
    color:white;
    margin-top:5px;
}
.input_box input::placeholder{
    color:#afafb6;
    font-size:16px;
}
.content .link_box input[type="button"]{
    background:white;
    color:#002429;
    font-size: 18px;
    font-weight:500;
    margin:4px 0;
    opacity:0.8;
    transition:all 0.4s ease;
}
.link_box input[type="button"]:hover{
    opacity:1;
}
footer .footer_bottom{
    width:100%;
    background:#002429;
}
footer .footer_bottom .bottom_text{
    max-width:1250px;
    margin:auto;
    padding:20px 40px;
    display:flex;
    justify-content: space-between;
}
.footer_bottom .bottom_text span,
.footer_bottom .bottom_text a{
    font-size:14px;
    font-weight:300;
    color:white;
    opacity:0.8;
    text-decoration: none;
}
.footer_bottom .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.footer_bottom .bottom_text a{
    margin-right:10px;
} 
@media (max-width:900px) {
    .footer_middle .content{
        flex-wrap: wrap;
        width:100%;
        padding:20px 40px;
    }
    .link_box .input_box{
        width:100%;
        margin-top: 10px;
    }
}
@media (max-width:700px){
    footer{
        position: relative;
    }
    .container .footer_upper .logo{
        font-size: 26px;
    }
    .container .footer_upper .icons a{
        height:35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    .footer_middle .content .link_box{
        width: calc(100% / 3 - 10px);
    }
    .link_box .input_box{
        width:60%;
    }
    .footer_bottom .bottom_text span,
    .footer_bottom .bottom_text a{
        font-size:12px;
    }
}
@media (max-width:520px){
    footer::before{
        top:145px;
    }
    footer .container .footer_upper{
        flex-direction: column;
    }
    .container .footer_upper .icons{
        margin-top: 16px;;
    }
    .footer_middle .content .link_box .input_box{
        width:100%;
    }
    .footer_middle .content .link_box{
        width: calc(100%/2 - 10px);
    }
}