@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');



*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    text-align: center;
    padding: 30px;
}
.header h1{
    font-size: 50px;
}
.header p{
    font-family: 'Sacramento';
    font-size: 40px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 7px solid #ffff;
    box-shadow: 15px 15px 25px rgb(169, 169, 169), -15px -15px 25px rgb(169, 169, 169);
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}

@media screen and (max-width: 800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
}