*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --myblue:rgb(136, 166, 218);
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/image.png);
    background-size: cover;
    background-position: center;
}

nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
}

nav ul{
    background: #000;
    width: 100%;
    margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;
}

li:nth-child(odd){
    color: rgb(176, 176, 43);
}

.text{
    padding: 20px 8%;
    background-color: var(--myblue);
}

nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav.sticky ul{
    width: auto;
}
