*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.main_container{
    width: 100%;
    height: 680px;
    /* background-color:#98afc7d5; */
    background-color:#7c99abba;

}
header{
    font-size:18px;
    padding:8px;
    background-color: #E799A3;
    text-align: center;
    margin-bottom: 0px;
}
header h1{
    /* color: #090909ce; */
    color: #7D0552;
}
header p{
    font-size:20px;
    color:#121112;
}
.main_container hr{
    border: 2px solid #550a35;
}
img{
    height: 220px;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 5px;
    border: 2px solid rgb(35, 36, 37);
    
}
.container{
    max-width: 1300px;
    height: 650px;
    margin: 15px auto ;
    /* background-color: #FFC0CB; */
    /* font-size: 0px;  */
}
.container p{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    display: inline-block;
    height: 280px;
    width: 22%;
    margin: 20px 10px;
    /* border: 2px solid rgb(35, 36, 37); */
    padding: 13px 15px;
    /* background-color: rgba(221, 83, 207, 0.416); */
    background-color:#FFDDCA;
    vertical-align: top;
    border-radius: 30px;
    box-shadow: rgb(96, 95, 95) 10px 10px 16px, rgb(136, 135, 135) -10px -10px 16px;
    
}
.margl{
    margin-left:40px;
}