*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    background-color: rgb(92, 100, 211); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 100px;
    text-transform: uppercase;
}
nav .logo{
    font-size: 34px;
    color: white;
    font-weight: 600;
}
nav .menu i{
    color: white;
    display: none;
    font-size: 25px;
    cursor: pointer;
}
nav #check{
    display: none;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color:white; 
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    /* background-color: white; */
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,nav ul li a.active{
    background-color: rgb(25, 39, 229);
    color: white;
}

@media (max-Width: 940px){
    #check:checked ~ .menu i:before{
        content: "\f00b";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: white;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #check:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        /* display: block; */
        color: rgb(90, 99, 221);
    }
    nav ul li a:hover,nav ul li a.active{
        background-color: rgb(90, 99, 221);
        color: white;
    }

    nav .menu i{
        color: white;
        display: block;
    }
}