body{
    background: #262626;
}
.wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.face-area{
    width: 300px;
    height: 300px;
    background: yellow;
    position: relative;
    border-radius: 150px;
    display: block;
}
.eye-area{
    width: 50px;
    height: 80px;
    background: #262626;
    border-radius: 140px;
    position: absolute;
    top: 40px;
}
.eye1{
    left: 75px;
}
.eye2{
    right: 75px;
}
.smile-area{
    width: 200px;
    height: 70px;
    border: 10px solid #262626;
    border-top: 0;
    background: #262626;
    border-radius: 0 0 120px 120px / 0 0 90px 90px;
    position:absolute;
    bottom: 40px;
    left: 38px;
}